.custom-input{
    height:3vh;
    width:-webkit-fill-available;
    padding: 10px;
    border:0;
    font-family: Montserrat;
}

.custom-button{
    height:5vh;
    width:-webkit-fill-available;
    /* padding: 10px; */
    background-color: #FFCC00 !important;
    color:#4D4D4D;
    border:0 !important;
    font-family: Montserrat;
    font-weight: bold;
}

.header {
    position: sticky;
    z-index: 1;
    top: 0;
    /* width: 100%; */
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 4px 2px -2px gray;
}

.requestSearchContainer{
    padding: 10px 20px;
}

.search-input{
    border-radius: 50px 0 0 50px !important;
}

.search-button{
    border-radius: 0px 50px 50px 0px !important;
    border-color: #A7A7A7;
    background-color: #EFEFEF;
}

.table-header{
    background-color: #FFEC9E;
    border-top: 1px solid #CDCDCD;
    border-bottom: 1px solid #CDCDCD;
    padding: 5px 20px;
}

.vertical-align-text{
    margin:revert
}

.request-card {
    background-color: #FFFFFF;
}